In [ ]:
import pandas as pd
import numpy as np

In [10]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\salman\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\salman\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\salman\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\salman\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\salman\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\salman\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd

df = pd.read_csv('survey_financial_ref_dataset_raw.csv', encoding='latin1')
df

,Gender,Age,Allowance,Q1,Q2,Q3,Q4,Q5,Q6,Q7,...,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30
0,0,0,0,4,3,3,3,3,3,4,...,3,3,3,3,3,3,3,3,3,3
1,1,1,0,2,2,4,3,3,3,3,...,4,2,3,2,3,4,3,2,2,3
2,0,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,0,2,1,3,2,3,3,4,...,3,2,2,1,1,2,3,3,2,3
4,0,0,1,2,2,3,2,3,2,5,...,2,1,1,2,2,1,1,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,0,0,0,2,2,4,4,3,3,4,...,1,2,1,1,1,1,1,1,1,1
261,0,1,2,2,3,3,3,3,4,3,...,2,2,1,1,2,1,1,1,1,4
262,0,1,2,4,3,2,3,5,4,4,...,2,3,4,4,4,3,4,3,2,1
263,0,1,0,3,2,3,3,3,2,2,...,2,3,2,2,2,2,2,2,2,2
264,0,0,0,3,4,5,4,3,3,5,...,3,2,2,4,4,2,2,3,3,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 33 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Gender     265 non-null    int64
 1   Age        265 non-null    int64
 2   Allowance  265 non-null    int64
 3   Q1         265 non-null    int64
 4   Q2         265 non-null    int64
 5   Q3         265 non-null    int64
 6   Q4         265 non-null    int64
 7   Q5         265 non-null    int64
 8   Q6         265 non-null    int64
 9   Q7         265 non-null    int64
 10  Q8         265 non-null    int64
 11  Q9         265 non-null    int64
 12  Q10        265 non-null    int64
 13  Q11        265 non-null    int64
 14  Q12        265 non-null    int64
 15  Q13        265 non-null    int64
 16  Q14        265 non-null    int64
 17  Q15        265 non-null    int64
 18  Q16        265 non-null    int64
 19  Q17        265 non-null    int64
 20  Q18        265 non-null    int64
 21  Q19        265 non-null    int64
 22  Q20        265 non-null    int64
 23  Q21        265 non-null    int64
 24  Q22        265 non-null    int64
 25  Q23        265 non-null    int64
 26  Q24        265 non-null    int64
 27  Q25        265 non-null    int64
 28  Q26        265 non-null    int64
 29  Q27        265 non-null    int64
 30  Q28        265 non-null    int64
 31  Q29        265 non-null    int64
 32  Q30        265 non-null    int64
dtypes: int64(33)
memory usage: 68.4 KB